

body{
  background-color: white;
}

main{
  width: 1200px;
  margin: 100px auto;
  background-color: #8EBA66;
  text-align: center;
  padding: 10px 40px;
  font-family: 'Times New Roman', Times, serif;
  border:green double 4px;
  border-radius:10px;
}
.cards{
  display:grid;
  grid-template-columns: auto;
  background-color: #47763B;
  margin: auto;
  width: 800px;
  padding:10px;
}

.card{
  background-color: oldlace;
  margin: 10px;
  border: #8EBA66 solid 5px;
  border-radius: 15px;
  height:100px;
  overflow: hidden;
}

.cardsub{
  background-color: oldlace;
  margin: 10px;
  border: #8EBA66 solid 5px;
  border-radius: 15px;
  padding:10px 20px;
}

hr{
  border: solid #8EBA66 2px;
}

.card:hover{
  background-color: oldlace;
  margin: 10px;
  border: #69a531 solid 5px;
  border-radius: 15px;
}

a{
  text-decoration: none;
  color:black;
}

button{
  text-decoration: none;
  color:black;
  background-color: #69a531;
  border: 0px;
  margin:10px;
  border-radius: 3px;
}

a:hover{
  text-decoration: none;
  color:darkgreen;
}

button:hover{
  text-decoration: none;
  color:darkgreen;
  background-color: #69a531;
  border: 0px;
  border-radius: 3px;
}

select{
  text-decoration: none;
  color:black;
  background-color: oldlace;
  border: 0px;
  border-radius: 3px;
}

.create{
  display:grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding: 10px;
  margin: 20px auto;
  border-radius:20px;
  text-align:center;

}


textarea{
  width: 400px;
  height:20px;
  color:#47763B;
}

input{
  color:#47763B;
}

.projects{
  background-color: white;
  padding: 10px;
  margin: 20px auto;
  border-radius:20px;
}